services:
  db:
    # Vamos usar a imagem oficial do MariaDB (versão 10.11 é ótima e estável)
    image: mariadb:10.11
    container_name: barbearia_db_dev
    restart: unless-stopped
    
    environment:
      # Aqui o Docker lê as variáveis do seu arquivo .env:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}       # Cria o usuário com essa senha
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} # Define a senha do 'root'
    
    ports:
      # Expõe a porta do container (3306) para a sua máquina (127.0.0.1)
      # na porta que você definiu no .env
      - "${DB_PORT}:3306"
    
    volumes:
      # Isso garante que seus dados não sejam perdidos se o container for
      # desligado ou recriado. Os dados ficam salvos na pasta 'mysql_data'.
      - ./mysql_data:/var/lib/mysql